@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);

    --font: 'Manrope', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--Light-Grayish-Blue);
    font-family: var(--font);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    /* Adicionado para criar contexto de posicionamento */
    overflow: hidden;
    /* Impede que o conteúdo saia dos limites */
}

.image {
    background-image: url('../images/drawers.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 40px 40px 20px 40px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.content .title {
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
    font-size: 1.1rem;
}

.content .description {
    color: var(--Desaturated-Dark-Blue);
    font-weight: 500;
    font-size: 0.9rem;
}

.author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
    padding-top: 20px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.info .avatar img {
    width: 40px;
    border-radius: 50%;
}

.name-date {
    padding-left: 1rem;
}

.info .name-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info .name-date .name {
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
    font-size: 0.9rem;
}

.author .info .date {
    color: var(--Grayish-Blue);
    font-weight: 500;
    font-size: 0.8rem;
}

.share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Very-Dark-Grayish-Blue);
    width: 80%;
    height: 80px;
    position: absolute;
    top:767px;
    left: 50px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: all 0.3s ease;
    z-index: 2;
    padding: 0 40px;
    border-radius: 10px;
}

.share-text {
    color: var(--Light-Grayish-Blue);
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.share .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.share .social-media img {
    cursor: pointer;
}

.share-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: var(--Light-Grayish-Blue);
    transition: background-color 0.2s ease-in-out;
}

.share-button img {
    cursor: pointer;
}

.share-button.active {
    background-color: var(--Desaturated-Dark-Blue);
}

.share-button.active img {
    filter: invert(1) brightness(100);
}

.share.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.author.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}

footer {
    margin-top: 2rem;
}

footer .attribution {
    font-size: 1rem;
    text-align: center;
    color: var(--Very-Dark-Grayish-Blue);
}

footer .attribution a {
    color: var(--Grayish-Blue);
    cursor: pointer;
}

@media screen and (min-width: 1440px) {
    main {
        flex-direction: row;
        width: 50%;
    }

    .image {
        width: 80%;
        height: 100%;
    }

    .share {
        width: auto;
        height: auto;
        padding: 15px 35px;
        border-radius: 10px;
        top: auto;
        left: auto;
        right: 397px;
        transform: translateY(100%) translateX(0%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        padding: 30px; 
        margin-bottom: 30px;
    }

    /* Triângulo do tooltip */
    .share::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--Very-Dark-Grayish-Blue);
    }

    .share-text {
        margin-right: 15px;
    }

    .share .social-media {
        gap: 1.2rem;
        margin-right: 20px;
    }

    .share .share-button {
        display: none;
    }

}